<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
    <body>
        <%- include ('./partials/nav.ejs') %>
        <div class="jumbotron jumbotron-fluid">
            <div class="container text-center">
                <h1 class="display-4">Welcome to your dashboard!</h1>
                <p class="lead">Check out your progress over the last 7 days.</p>
            </div>
        </div>
        <% let numOfWorkouts = 0 %>
        <% let totalMinutes = 0 %>
        <% let totalCalories = 0 %>
        <% for (let i = 0; i < workouts.length; i++) { %>
            <% if (workouts[i].date > new Date(new Date() - 604800000)) { %>
                <% numOfWorkouts++ %>
                <% totalMinutes += workouts[i].duration %>
                <% totalCalories += workouts[i].caloriesBurned %>
            <% } %>
        <% } %>
        <div class="row my-5 justify-content-center align-items-baseline">
            <div class="col-lg-3 col-md-4 col-7 d-flex align-items-stretch">
                <div class="card text-center border-0">
                    <img class="card-img-top" src="/media/number-sign.png">
                    <div class="card-body">
                        <h1 class="card-title text-primary"><%=numOfWorkouts%></h1>
                        <p class="card-text">workouts</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-7 d-flex align-items-stretch">
                <div class="card text-center border-0">
                    <img class="card-img-top" src="/media/stopwatch.png">
                    <div class="card-body">
                        <h1 class="card-title text-success"><%=totalMinutes%></h1>
                        <p class="card-text">minutes spent working out</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-7 d-flex align-items-stretch">
                <div class="card text-center border-0">
                    <img class="card-img-top" src="/media/flame.png">
                    <div class="card-body">
                        <h1 class="card-title text-warning"><%=totalCalories%></h1>
                        <p class="card-text">calories burned</p>
                    </div>
                </div>
            </div>
        </div>
        <%- include ('./partials/footer.ejs') %>
    </body>
</html>