<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs') %>
<body>
    <%- include ('./partials/nav.ejs') %>
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4">Log a New Workout</h1>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-8 col-lg-6 mx-auto">
            <form action="/workouts" method="POST">
                <div class="form-group">
                    <label for="usernameInput">Username</label>
                    <input name="username" class="form-control" id="usenameInput" placeholder="<%=currentUser.username%>" value="<%=currentUser.username%>" readonly>
                </div>
                <div class="form-group">
                    <label for="dateInput">Date</label>
                    <input name="date" class="form-control" id="dateInput" placeholder="mm/dd/yyyy" maxlength=10  onkeyup="this.value=this.value.replace(/^(\d\d)(\d{1,2})$/g,'$1/$2').replace(/^(\d\d\/\d\d)(\d{1,4})$/g,'$1/$2')" required>
                </div>
                <div class="form-group">
                    <label for="workoutTypeInput">What type of workout did you do?</label>
                    <select name="type" class="form-control" id="workoutTypeInput" required>
                        <option selected disabled></option>
                        <option>Running</option>
                        <option>Cycling</option>
                        <option>Strength Training</option>
                        <option>Swimming</option>
                        <option>HIIT</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="durationInput">How long did you work out (in minutes)?</label>
                    <input type="number" name="duration" class="form-control" id="durationInput" placeholder="Please enter a number" required>
                </div>
                <div class="form-group">
                    <label for="caloriesBurnedInput">Calories burned</label>
                    <input class="form-control" type="number" name="caloriesBurned" placeholder="Please enter a number" required>
                </div>
                <div class="form-group">
                    <label for="notesInput">Notes</label>
                    <input class="form-control" id="notesInput" name="notes">
                </div>
                <div class="button-div">
                    <input type="submit" value="Add workout"/>
                </div>
            </form>
        </div>
    </div>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>