<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs') %>
<body>
    <%- include ('./partials/nav.ejs') %>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Your workout from <%=workout.date.toLocaleDateString('en-us', { weekday:"long", year:"numeric", month:"short", day:"numeric"})%></h1>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-8 mx-auto">
            <form action="/workouts/<%=workout.id%>?_method=DELETE" method="POST">
                <div class="form-group">
                    <label for="dateInput">Date</label>
                    <input name="date" class="form-control" id="dateInput" placeholder="<%=workout.date.toLocaleDateString('en-us', {year:"numeric", month:"numeric", day:"numeric"})%>" readonly>
                </div>
                <div class="form-group">
                    <label for="typeInput">What type of workout did you do?</label>
                    <input name="type" class="form-control" id="typeInput" placeholder="<%=workout.type%>" readonly>
                </div>
                <div class="form-group">
                    <label for="durationInput">How long did you work out (in minutes)?</label>
                    <input name="duration" class="form-control" id="durationInput" placeholder="<%=workout.duration%>" readonly>
                </div>
                <div class="form-group">
                    <label for="caloriesBurnedInput">Calories burned:</label>
                    <input name="caloriesBurned" class="form-control" id="typeInput" placeholder="<%=workout.caloriesBurned%>" readonly>
                </div>
                <div class="form-group">
                    <label for="notesInput">Notes</label>
                    <textarea class="form-control" id="notesInput" rows="3" placeholder="<%=workout.notes%>" readonly></textarea>
                </div>
                <a href="/workouts">
                    <button type="button" class="btn">Back to History</button>
                </a>
                <a href="/workouts/<%=workout.id%>/edit">
                    <button type="button" class="btn">Edit Workout</button>
                </a>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">Delete  Workout</button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Confirm delete?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this workout?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" value="DELETE" class="btn btn-danger"/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>